<ion-view view-title="Explore">
  <ion-content>

    <ul class="profile" style="margin-left:5%;">

      <li class="profile">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>


      </li>
    </ul>

  </ion-content>
</ion-view>
