<ion-view view-title="Profile">
  <ion-content>

    <div class="user-profile" style="width:100%;heigh:auto;background-color:#fff;float:left;">

      <img src="img/fpv-cover.png">

    <div class="avatar">

      <img src="img/max.png" class="profile-pic">

      <ul class="profile" style="margin-left:5%;">

        <li>

          <p class="text-white text-center" style="margin-top:-15%;margin-bottom:10%;display:block;">@madmax, 6 Pictures</p>

        </li>

      <li class="profile">

        <a href="#"><img src="img/forest-race-drone.png"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="img/maxresdefault.jpg"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="img/fpv-drone-pre-race.png"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="img/FPV-racing-drone-races-1.jpg"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="img/maxresdefault-1.jpg"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="img/john-doe-racer.jpg"></a>

      </li>

    </ul>

    </div>
  </div>

  </ion-content>
</ion-view>
