<ion-view view-title="Explore">
  <ion-content>

    <ul class="profile" style="margin-left:1%; margin-right:1%; margin-top:10%;">

      <li class="profile">

        <a href="#"><img src="https://farm1.staticflickr.com/481/18749530305_3b629ca746_o.jpg"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>

      </li>

      <li class="profile" style="list-style-type: none;">

        <a href="#"><img src="http://placehold.it/50x50"></a>


      </li>
    </ul>

  </ion-content>
</ion-view>
